In [1]:
import numpy as np
import pandas as pd


df_vaccination = pd.read_csv("vaccination/vaccination in the EU.csv")
df_cases = pd.read_csv("cases_deaths/daily number of new reported.csv")

vac_count = len(df_vaccination["ReportingCountry"].unique())
cases_count = len(df_cases["countriesAndTerritories"].unique())

print(vac_count)
print(cases_count)

30
30

In [7]:
df_cases.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,continentExp
0,29/04/2021,29,4,2021,2286,29,Austria,AT,AUT,8901064,Europe
1,28/04/2021,28,4,2021,1557,20,Austria,AT,AUT,8901064,Europe
2,27/04/2021,27,4,2021,1380,22,Austria,AT,AUT,8901064,Europe
3,26/04/2021,26,4,2021,2091,11,Austria,AT,AUT,8901064,Europe
4,25/04/2021,25,4,2021,2231,15,Austria,AT,AUT,8901064,Europe

In [11]:
df_cases["dateRep"].dtype.name

'object'

In [13]:
df_cases["dateRep"] = pd.to_datetime(df_cases["dateRep"])
df_cases["dateRep"].dtype.name

'datetime64[ns]'

In [6]:
df_vaccination.head()

,YearWeekISO,FirstDose,FirstDoseRefused,SecondDose,UnknownDose,NumberDosesReceived,Region,Population,ReportingCountry,TargetGroup,Vaccine,Denominator
0,2020-W53,0,0.0,0,0,0.0,AT,8901064,AT,1_Age60+,AZ,2259262.0
1,2020-W53,2655,0.0,0,0,61425.0,AT,8901064,AT,1_Age60+,COM,2259262.0
2,2020-W53,0,0.0,0,0,0.0,AT,8901064,AT,1_Age60+,JANSS,2259262.0
3,2020-W53,0,0.0,0,0,0.0,AT,8901064,AT,1_Age60+,MOD,2259262.0
4,2020-W53,2368,0.0,0,0,61425.0,AT,8901064,AT,1_Age<60,COM,5099181.0

In [21]:
import matplotlib.pyplot as plt

In [ ]:
#Problem: Beide Datensätze sind nicht gleich groß! Das müssen wir ändern, um überhaupt ein Regressionsmodell zu Impfen und Erkrankungen erstellen zu können
#Neue Variable einführen, die angibt, wie viel Prozent der Bevölkerung geimpft ist und das als Einflussgröße nehmen - nicht die absoluten Werte
#Die Zeiten beider Datenquellen auf einen Nenner bringen, wenn nötig auch Vaccine entfernen... es ist ja uns egal, mit welchem Impfstoff die Leute geimpft wurden