In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


df_vaccination = pd.read_csv("vaccination/vaccination in the EU.csv")
df_cases = pd.read_csv("cases_deaths/daily number of new reported.csv")

vac_count = len(df_vaccination["ReportingCountry"].unique())
cases_count = len(df_cases["countriesAndTerritories"].unique())

print(vac_count)
print(cases_count)

30
30

In [4]:
df_cases.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,continentExp
0,29/04/2021,29,4,2021,2286,29,Austria,AT,AUT,8901064,Europe
1,28/04/2021,28,4,2021,1557,20,Austria,AT,AUT,8901064,Europe
2,27/04/2021,27,4,2021,1380,22,Austria,AT,AUT,8901064,Europe
3,26/04/2021,26,4,2021,2091,11,Austria,AT,AUT,8901064,Europe
4,25/04/2021,25,4,2021,2231,15,Austria,AT,AUT,8901064,Europe

In [5]:
df_vaccination.head()

,YearWeekISO,FirstDose,FirstDoseRefused,SecondDose,UnknownDose,NumberDosesReceived,Region,Population,ReportingCountry,TargetGroup,Vaccine,Denominator
0,2020-W53,0,0.0,0,0,0.0,AT,8901064,AT,1_Age60+,AZ,2259262.0
1,2020-W53,2655,0.0,0,0,61425.0,AT,8901064,AT,1_Age60+,COM,2259262.0
2,2020-W53,0,0.0,0,0,0.0,AT,8901064,AT,1_Age60+,JANSS,2259262.0
3,2020-W53,0,0.0,0,0,0.0,AT,8901064,AT,1_Age60+,MOD,2259262.0
4,2020-W53,2368,0.0,0,0,61425.0,AT,8901064,AT,1_Age<60,COM,5099181.0

In [10]:
df_cases.describe()

,day,month,year,cases,deaths,popData2020
count,1800.000000,1800.000000,1800.0,1.800000e+03,1800.000000,1.800000e+03
mean,15.516111,3.482222,2021.0,1.698139e+04,380.662222,1.510301e+07
std,8.685843,0.500934,0.0,1.612360e+05,4151.124089,2.122037e+07
min,1.000000,2.000000,2021.0,-2.001000e+03,-5.000000,3.874700e+04
25%,8.000000,3.000000,2021.0,4.297500e+02,2.000000,2.095861e+06
50%,15.500000,3.000000,2021.0,1.279000e+03,18.000000,6.387122e+06
75%,23.000000,4.000000,2021.0,5.406250e+03,103.250000,1.152244e+07
max,31.000000,4.000000,2021.0,3.755968e+06,97699.000000,8.316671e+07

In [13]:
df_cases.isnull().sum()

dateRep                    0
day                        0
month                      0
year                       0
cases                      0
deaths                     0
countriesAndTerritories    0
geoId                      0
countryterritoryCode       0
popData2020                0
continentExp               0
dtype: int64

In [14]:
df_vaccination.isnull().sum()

YearWeekISO                0
FirstDose                  0
FirstDoseRefused       13905
SecondDose                 0
UnknownDose                0
NumberDosesReceived    22212
Region                     0
Population                 0
ReportingCountry           0
TargetGroup                0
Vaccine                    0
Denominator             6683
dtype: int64

In [22]:
result = pd.concat([df_cases, df_vaccination], axis=1)

In [24]:
result.tail()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,...,FirstDoseRefused,SecondDose,UnknownDose,NumberDosesReceived,Region,Population,ReportingCountry,TargetGroup,Vaccine,Denominator
29280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,11366,0,40800.0,SK,5457873,SK,ALL,AZ,4437897.0
29281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,59038,0,73710.0,SK,5457873,SK,ALL,COM,4437897.0
29282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8,0,0.0,SK,5457873,SK,ALL,AZ,4437897.0
29283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,11697,0,0.0,SK,5457873,SK,ALL,COM,4437897.0
29284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1556,0,0.0,SK,5457873,SK,ALL,MOD,4437897.0

In [25]:
result.isnull().sum()

dateRep                    27485
day                        27485
month                      27485
year                       27485
cases                      27485
deaths                     27485
countriesAndTerritories    27485
geoId                      27485
countryterritoryCode       27485
popData2020                27485
continentExp               27485
YearWeekISO                    0
FirstDose                      0
FirstDoseRefused           13905
SecondDose                     0
UnknownDose                    0
NumberDosesReceived        22212
Region                         0
Population                     0
ReportingCountry               0
TargetGroup                    0
Vaccine                        0
Denominator                 6683
dtype: int64