In [1]:
import numpy as numpy
import pandas as pd 


dates = ["2018-01-01", "2018-01-02", "2018-01-01", "2018-01-02", "2018-01-01", "2018-01-02"]

dates

['2018-01-01',
 '2018-01-02',
 '2018-01-01',
 '2018-01-02',
 '2018-01-01',
 '2018-01-02']

In [3]:
columns = ["country", "cases", "vaccines"]

row1 = ["GER", 3, 20]
row2 = ["GER", 4, 12]
row3 = ["USA", 5, 23]
row4 = ["USA", 1, 13]
row5 = ["FRA", 3, 42]
row6 = ["FRA", 7, 9]

df1 = pd.DataFrame([row1, row2, row3, row4, row5, row6], columns=columns)

In [4]:
df1

  country  cases  vaccines
0     GER      3        20
1     GER      4        12
2     USA      5        23
3     USA      1        13
4     FRA      3        42
5     FRA      7         9

In [16]:
columns = ["country", "mutant", "deaths"]

rrow1 = ["USA", 3, 10]
rrow2 = ["USA", 4, 16]
rrow3 = ["FRA", 5, 33]
rrow4 = ["FRA", 1, 11]
rrow5 = ["GER", 3, 12]
rrow6 = ["GER", 7, 29]

df2 = pd.DataFrame([rrow1, rrow2, rrow3, rrow4, rrow5, rrow6], columns=columns)

In [11]:
df1["dates"] = pd.to_datetime(dates)
df1

  country  cases  vaccines      dates
0     GER      3        20 2018-01-01
1     GER      4        12 2018-01-02
2     USA      5        23 2018-01-01
3     USA      1        13 2018-01-02
4     FRA      3        42 2018-01-01
5     FRA      7         9 2018-01-02

In [17]:
df2

  country  mutant  deaths
0     USA       3      10
1     USA       4      16
2     FRA       5      33
3     FRA       1      11
4     GER       3      12
5     GER       7      29

In [18]:
df2["dates"] = pd.to_datetime(dates)
df2

  country  mutant  deaths      dates
0     USA       3      10 2018-01-01
1     USA       4      16 2018-01-02
2     FRA       5      33 2018-01-01
3     FRA       1      11 2018-01-02
4     GER       3      12 2018-01-01
5     GER       7      29 2018-01-02

In [19]:
df1.merge(df2, left_on=["dates", "country"], right_on=["dates", "country"], how="inner")

  country  cases  vaccines      dates  mutant  deaths
0     GER      3        20 2018-01-01       3      12
1     GER      4        12 2018-01-02       7      29
2     USA      5        23 2018-01-01       3      10
3     USA      1        13 2018-01-02       4      16
4     FRA      3        42 2018-01-01       5      33
5     FRA      7         9 2018-01-02       1      11